{% extends "base.html" %}
{% block breadcrumb %}
    <ol class="breadcrumb my-0 ms-2">
        <li class="breadcrumb-item">
            <span><a href="{% url 'listar-doadoras' %}" >Doadoras</a></span>
        </li>
        <li class="breadcrumb-item active"><span>Adicionar Doadora</span></li>
    </ol>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header"><h4>Nova Doadora</h4></div>
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="inputEmail4" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-8">
                    <label for="inputPassword4" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                   <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                   <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-12">
                    <label for="inputAddress" class="form-label">Endereco</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Av. Maceio, 344">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Estado</label>
                    <select id="inputState" class="form-select">
                        <option selected>Alagoas</option>
                        <option>Pernambuco</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">SALVAR</button>
                    <a href="{% url 'listar-doadoras' %}">
                        <button type="button" class="btn btn-danger">CANCELAR</button>
                    </a></div>
            </form>
        </div>
    </div>

{% endblock %}